# local_lib
-e.

# Data Manipulation libraries:
numpy
pandas
scipy
stats

# Data Visualization libraries:
matplotlib
seaborn

# ML related  libraries:
scikit-learn


# NLP libaries:
nltk
spacy

# tensorflow libraries:
tensorflow

# pytorch:
torch

# transformers library:
transformers
sentencepiece
transformers[torch]

# Deployment libraries:
flask

# Others
datasets
ensure
git+https://github.com/huggingface/accelerate
rouge_score

sendgrid
