
.container{
    /* display: flex; */
    justify-content: center;
    align-items: center;
    
}
/* .input-area,
.output-area {
    flex: 1;
    padding: 10px;
    margin: 10px;
} */


.container form .user-details .input-box textarea{
    resize: vertical;
    height: 290px;
}
.container form .frm_button{
    height: 35px;
    width: calc(100% - 40px);
    margin-top: 5px;
}


  
/* Additional styles to adjust the content inside the output area */
#outputText {
    max-height: 100%; /* Limit the maximum height of the content */
    overflow-wrap: break-word; /* Allow long words to break and wrap inside the output area */
}
  

